.box
  .box-title
    %h2 Nueva Iniciativa
  
  .box-content
    = form_for @initiative, :html => {:multipart => true, class: 'form-horizontal'} do |form|
      = render "shared/error_messages", :target => @initiative
      %fieldset
        = render :partial => 'form', :locals => {:form => form}
        .actions
          = form.submit 'Crear Iniciativa', :class => 'btn primary'
          %input{:type => 'reset', :class => 'btn', :value => 'Limpiar'}